body {
  background-color: #f0f0f0;
}
body::-webkit-scrollbar {
  display: none;
}

.h4_heading {
  font-weight: bold;
}

.home_section {
  background-color: rgb(10, 10, 10);
  background-image: url("../images/home.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  /* width: 100 */
  padding-top: 8rem;
}
.no_radius {
  border-radius: none !important;
  /* height: 100vh; */
  border: none;
}
.link_icon {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: all 400ms;
}
.link_icon:hover {
  /* background-color: black; */
  color: black;
  transition: all 400ms;
}

/* my work */

.overlay_container {
  position: relative;
}
.work_image_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
  margin: auto;
}
.overlay_container:hover .work_image_overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.719);
}
.text {
  opacity: 1;
  color: black;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.text button:hover {
  background-color: black;
  color: white;
  transition: 500ms ease;
}

.work_svg_responsive {
  max-height: 180px !important;
  margin: 5px 0;
}
.article_svg_responsive {
  max-height: 180px !important;
  margin: 5px 0;
}
.card_background {
  background-color: #eceaea;
}
.aboutme_section {
  background-color: #f0f0f0;
}
/* a:hover {
  background-color: black;
  color: white;
  transition: all 200ms;
} */

@media (max-width: 575.98px) {
  #contact {
    max-width: 90%;
  }
}
/* color codes */
.color {
  background-color: #2951a1;
}
.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
